.idea/*

*.bak


docs/*.jsonld

*.pyc
__pycache__/*
*/.ipynb_checkpoints/*
*-checkpoint*

# build
*.egg*
build/
dist/
docs/class_structure_pub.svg
.coverage
*.zip
*.tif
*.h5
*.doc
*.txt
*.json
*.jsonld
docs/piv_process.json
*.db
